#inzeraty {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#inzeraty td, #inzeraty th {
    border: 1px solid #ddd;
    padding: 8px;
}

#inzeraty tr:nth-child(even){background-color: #f2f2f2;}

#inzeraty tr:hover {background-color: #ddd;}

#inzeraty th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #333845;
    color: white;
}
input[type=text], select {
    width: 300px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 300px;
    background-color: #333845;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #24242a;
}

div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

a {
    text-decoration: none;
}

a:visited {
    color: blue;
}
